.memory-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 9999;
}

.card {
  width: 200px;
  height: 250px;
  perspective: 1000px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-back {
  background: #f5e6cc;
  color: #3b2a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-style: italic;
  text-align: center;
  transform: rotateY(180deg);
  font-family: 'Georgia', serif;
}

.hidden {
  display: none !important;
}

.letter-btn {
  position: absolute;
  bottom: 40px;
  padding: 12px 28px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background: #ff6f91;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.letter-btn:hover {
  background: #ff4f81;
  transform: scale(1.05);
}

.vintage-letter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease;
}
.vintage-letter.show {
  opacity: 1;
  visibility: visible;
}


.letter-paper {
  background: #fdf5e6;
  padding: 50px;
  max-width: 600px;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  line-height: 1.7;
  color: #3b2a1a;
  text-align: center;

  transform: translateY(30px);
  transition: transform 0.8s ease;
}
.vintage-letter.show .letter-paper {
  transform: translateY(0);
}


.close-letter {
  margin-top: 25px;
  padding: 8px 18px;
  border: none;
  background: #3b2a1a;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
